.wallpaper-classic {
  background-color: var(--background);
  position: relative;
}
.wallpaper-classic .ascii-overlay{
  position: absolute;
  color:#dcdcdc;
  font-family: monospace;
  white-space: pre;
  line-height: 1.1;
  pointer-events: none;
  z-index: -10;
  bottom:10%;
  right:8%;
}

.wallpaper-viewport {
  background: radial-gradient(circle, #555454, #2F2F2F);
  position: relative;
}
.wallpaper-viewport .ascii-overlay{
  position: absolute;
  font-family: monospace;
  white-space: pre;
  line-height: 1.1;
  pointer-events: none;
  z-index: -10;
  bottom:10%;
  right:8%;
}

.wallpaper-doors {
  background-color: #547772;
  position: relative;
}
.wallpaper-doors .ascii-overlay{
  position: absolute;
  font-family: monospace;
  font-weight: 700;
  color:#000000;
  white-space: pre;
  line-height: 1.1;
  pointer-events: none;
  z-index: -10;
  bottom:10%;
  right:8%;
}

.wallpaper-artist {
  background: #445271;
  position: relative;
}

.wallpaper-artist .ascii-overlay{
  position: absolute;
  font-family: monospace;
  font-size: 16px;
  white-space: pre;
  line-height: 1.1;
  pointer-events: none;
  z-index: -10;
  bottom:10%;
  right:8%;
}

.wallpaper-drums {
  background-color: #714452;
  position: relative;
}
.wallpaper-drums .ascii-overlay{
  position: absolute;
  font-family: monospace;
  font-size:16px;
  white-space: pre;
  line-height: 1.1;
  pointer-events: none;
  z-index: -10;
  bottom:10%;
  right:8%;
}


.wallpaper-skeleton {
  background-color: #4f1919;
  position: relative;
}
.wallpaper-skeleton .ascii-overlay{
  position: absolute;
  font-family: monospace;
  white-space: pre;
  line-height: 1.1;
  pointer-events: none;
  z-index: -10;
  bottom:10%;
  right:8%;
}

.wallpaper-saturn {
  background-color: #031731;
  position: relative;
}
.wallpaper-saturn .ascii-overlay{
  position: absolute;
  font-family: monospace;
  white-space: pre;
  line-height: 1.1;
  pointer-events: none;
  z-index: -10;
  bottom:10%;
  right:8%;
}

@media (max-width: 768px) {
  .ascii-overlay {
    font-size: 8px !important;
    font-family: 'Courier New', Courier, monospace !important;
    line-height: 1.05 !important;
    word-break: break-word;
  }
}
