
.winbox {
    background-color: #c4c4c4;
    border: 2px solid #4a4a4a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: var(--cursor-arrow);
}
.deskIcon{
    cursor: var(--cursor-arrow) !important;
}

.winbox.min{
    margin-left:126px; /* to provide room for start button in taskbar*/
    margin-top:38px; /* to compensate bottom limit and make minimized window appear on taskbar */
    /* miinimized window is 35px thick */
}

.wb-drag {
    background-color: #14055D;
}

.wb-header{
    height:28px;
}

.wb-title {
    background-color: #14055D;
    color: #ffffff;
    font-family: "windows", sans-serif;
    font-size: 14px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    user-select: none;
}

.winbox:not(.focus) .wb-drag,
.winbox:not(.focus) .wb-title,
.winbox:not(.focus) .wb-control{
    background-color: #747578;
}


.wb-control {
    background-color: #14055D;
    display: inline-block;
    height: 100%;
    max-width: 100%;
    align-items: center;
    display: inline-flex;
    margin-right:6px;
}

.wb-close,
.wb-max,
.wb-min {
    width: 18px;
    height: 18px;
    background-color: #d0d0d0;
    color: black;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-left:5px;
    margin-top:px;
    cursor:var(--cursor-arrow);
}

.wb-min {
    background-image: url(/controls/min.png);
}

.wb-max {
    background-image: url(/controls/max.png)
}

.wb-close {
    background-image: url(/controls/close.png)
}

.wb-icon {
    height:120%;
    margin:-1px 0px 0-3px;
}

.wb-n,.wb-w{
    background-color: #FFFEFE;
}
.wb-n{
    top:-9px;
}
.wb-w{
    left:-8px;
}


.wb-e,.wb-s{
    background-color: #989494;
}
.wb-e{
    right:-8px;
}
.wb-s{
    bottom:-8px;
}


.wb-body {
    top:34px;
    bottom:6px;
    right:6px;
    left:6px;
    background-color: #e0e0e0;
    color: black;
    font-family: "windows", sans-serif;
    font-size: 13px;
    overflow: auto;
}

.winbox-menu-bar {
  width: 100%;
  background-color: #C5C5C4;
  font-family: "windows", sans-serif;
  font-size: 13px;
  color: black;
  display: flex;
  gap:8px;
  user-select: none;
  border-bottom: 1px solid #888;
  padding: 0px 8px;
  cursor:var(--cursor-arrow);
}

.winbox-body{
    padding:8px;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  cursor:var(--cursor-arrow);
  user-select: none;
}
.desktop-icon:active {
  cursor:var(--cursor-grab);
  user-select: none;
}
.icon-label {
  display: inline;
  font-size: 14px; /* Updated font size */
  font-family: "windows", sans-serif;
  color: white;
  line-height: 1.2;
  white-space: nowrap;

  /* Reserve space for border and padding */
  border: 1px dotted transparent;
  padding: 2px 4px; /* Slightly more breathing room for larger text */
  background: transparent;
}

.desktop-icon:focus .icon-label {
  background-color: #000080;
  border-color: white;
  border-style: dotted;
}