@import "tailwindcss";


/* Theme */
:root {
  --background: #088685;
  --foreground: #ededed;
  --cursor-arrow: url('/cursors/arrow.cur'), auto;
  --cursor-pointer: url('/cursors/pointer.cur'), auto;
  --cursor-loading:url('/cursors/loading.cur'),auto;
}

/* Custom font */
@font-face {
  font-family: "windows";
  src: url("/fonts/windows.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor:inherit;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: var(--background) !important;
  color: var(--foreground);
  font-family: "windows", sans-serif;
  cursor: var(--cursor-arrow);
}


nextjs-portal {
  display: none;
}